<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
 <head>
     <meta charset="utf-8">
     <title></title>
     <link rel="stylesheet" href="{% static "css/base1.css"%}">
     {%block child_css %}
     In child-template wirte child-html-file related .css file
    reference!!
     ***NOT-Visible***
     {% endblock %}
</head>
<body>
     <h1>Common code for all child templates</h1>
     <hr />
         {%block child_block%}
         Anything outside of this block available to child tag...
         ***Non-visible-code***
         In child template, its specific-code should be coded in this block
        only
         {%endblock%}
     <h3>End of common code from base.html!!</h3>
     <hr />
</body>
</html>