<!DOCTYPE html>
{%load static%}
<html>
 <head>
     <title>Template-Inheritance</title>
     <link rel="stylesheet" href="{%static 'css/base.css' %}" />
 </head>
 <body>
     <h1>Common code for all child templates</h1>
     <hr />
         {%block child_block%}
         Anything outside of this block available to child tag...
         ***Non-visible-code***
         In child template, its specific-code should be coded in this
        block only
         {%endblock%}
     <h3>End of common code from base.html!!</h3>
    <hr />
 </body>
</html>